torch==1.13
torchaudio
torchvision
streamlit
streamlit-lottie
streamlit-option-menu
absl-py
addict
altair
attrs
basicsr
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
cycler
Cython
decorator
dpcpp-cpp-rt
einops
filelock
fonttools
fsspec
future
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
intel-cmplr-lib-rt
intel-cmplr-lic-rt
intel-opencl-rt
intel-openmp
Jinja2
joblib
jsonschema
kiwisolver
lmdb
lpips
Markdown
markdown-it-py
MarkupSafe
matplotlib>=3.2.2
mdurl
mkl
natsort
networkx
numpy>=1.21.2
oauthlib

opencv-python-headless
packaging
pandas
Pillow
pkgutil_resolve_name
platformdirs
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML>=5.3.1
requests
requests-oauthlib
rich
rsa
safetensors
scikit-image
scikit-learn
scipy>=1.4.1
six
smmap
soupsieve

tb-nightly
tbb
tenacity
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
timm
toml
tomli
toolz

tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wincertstore
yacs
yapf
zipp
