streamlit==1.23.1
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2

absl-py==2.1.0
addict==2.4.0
altair==5.0.1
attrs==23.2.0
backports.zoneinfo==0.2.1

beautifulsoup4==4.12.3
blinker==1.6.3
cachetools==5.3.2
certifi==2020.6.20
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cycler==0.11.0
Cython==3.0.9
decorator==5.1.1
dpcpp-cpp-rt==2024.0.2
einops==0.6.1
filelock==3.12.2
fonttools==4.38.0
fsspec==2023.1.0
future==0.18.3
gdown==4.7.3
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.27.0
google-auth-oauthlib==0.4.6
grpcio==1.60.0
h5py==3.8.0
huggingface-hub==0.16.4
idna==3.6
imageio==2.31.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
intel-cmplr-lib-rt==2024.0.2
intel-cmplr-lic-rt==2024.0.2
intel-opencl-rt==2024.0.2
intel-openmp==2024.0.2
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.17.3
kiwisolver==1.4.5
lmdb==1.4.1
lpips==0.1.4
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.4
matplotlib==3.5.3
mdurl==0.1.2

natsort==8.4.0
networkx==2.6.3
numpy
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==23.2
pandas==1.3.5
Pillow==9.3.0
pip==22.3.1
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
protobuf==3.20.3
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydeck==0.8.1b0
Pygments==2.17.2
Pympler==1.0.1
pyparsing==3.1.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rsa==4.9
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
setuptools==65.6.3
six==1.16.0
smmap==5.0.1
soupsieve==2.4.1

tb-nightly==2.12.0a20230113
tbb==2021.11.0
tenacity==8.2.3
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.9.12
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
basicsr==1.3.4.9

tornado==6.2
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2024.1
tzlocal==4.3.1
urllib3==2.0.7
validators==0.20.0
watchdog==3.0.0
Werkzeug==2.2.3
wheel==0.38.4
wincertstore==0.2
yacs==0.1.8
yapf==0.40.2
zipp==3.15.0
